numpy
pandas
seaborn
matplotlib
scikit-learn
scipy
rasterio==1.4.4
shapely==2.1.2
google-cloud-storage==2.14.0
google-api-core==2.8.2
googleapis-common-protos==1.56.4
imblearn
python-dotenv
psycopg2-binary

# API
fastapi==0.108.0  # API framework
starlette==0.32.0.post1
pytz              # time zone management
uvicorn           # web server

# tests
httpx<0.28        # HTTP client
pytest-asyncio    # asynchronous I/O support for pytest
python-multipart
colorama          # colored terminal output
